{"filter":false,"title":"requirements.txt","tooltip":"/Parcial/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1732138093585,"hash":"0bdf3e19340cf4dde4216065beb9fa5fc6cbb0cc"}